<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.naoki.crm.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
<!--        过滤后台即可,静态资源无需过滤,jsp头设定了字符集-->
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.naoki.crm.web.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
<!--        过滤后端资源及jsp资源-->
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!--    servletContext监听器-->
    <listener>
        <listener-class>com.naoki.crm.web.listener.SysInitListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>com.naoki.crm.settings.web.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/settings/user/login.do</url-pattern>
    </servlet-mapping>

<!--    市场活动控制器-->
    <servlet>
        <servlet-name>activityController</servlet-name>
        <servlet-class>com.naoki.crm.workbench.web.controller.ActivityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>activityController</servlet-name>
        <url-pattern>/workbench/activity/getUserList.do</url-pattern>
        <url-pattern>/workbench/activity/save.do</url-pattern>
        <url-pattern>/workbench/activity/pageList.do</url-pattern>
        <url-pattern>/workbench/activity/delete.do</url-pattern>
        <url-pattern>/workbench/activity/getUserListAndActivity.do</url-pattern>
        <url-pattern>/workbench/activity/update.do</url-pattern>
        <url-pattern>/workbench/activity/detail.do</url-pattern>
        <url-pattern>/workbench/activity/getRemarkListByAid.do</url-pattern>
        <url-pattern>/workbench/activity/deleteRemark.do</url-pattern>
        <url-pattern>/workbench/activity/saveRemark.do</url-pattern>
        <url-pattern>/workbench/activity/updateRemark.do</url-pattern>
    </servlet-mapping>
<!--    线索控制器-->
    <servlet>
        <servlet-name>clueController</servlet-name>
        <servlet-class>com.naoki.crm.workbench.web.controller.ClueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clueController</servlet-name>
        <url-pattern>/workbench/clue/getUserList.do</url-pattern>
        <url-pattern>/workbench/clue/save.do</url-pattern>
        <url-pattern>/workbench/clue/detail.do</url-pattern>
        <url-pattern>/workbench/clue/getActivityList.do</url-pattern>
        <url-pattern>/workbench/clue/unbund.do</url-pattern>
        <url-pattern>/workbench/clue/getActivityListByNameAndNotByClueId.do</url-pattern>
        <url-pattern>/workbench/clue/bund.do</url-pattern>
        <url-pattern>/workbench/clue/getActivityListByName.do</url-pattern>
        <url-pattern>/workbench/clue/convert.do</url-pattern>
    </servlet-mapping>
<!--    交易控制器-->
    <servlet>
        <servlet-name>tranController</servlet-name>
        <servlet-class>com.naoki.crm.workbench.web.controller.TranController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tranController</servlet-name>
<!--        创建交易-->
        <url-pattern>/workbench/transaction/add.do</url-pattern>
<!--        市场活动源-->
        <url-pattern>/workbench/transaction/searchActivityByName.do</url-pattern>
<!--        联系人-->
        <url-pattern>/workbench/transaction/searchContactsListByName.do</url-pattern>
<!--        自动补全-->
        <url-pattern>/workbench/transaction/getCustomerName.do</url-pattern>
<!--        交易表单提交-->
        <url-pattern>/workbench/transaction/save.do</url-pattern>
<!--        交易详情-->
        <url-pattern>/workbench/transaction/detail.do</url-pattern>
<!--        交易历史-->
        <url-pattern>/workbench/transaction/getHistoryByTranId.do</url-pattern>
<!--        图标变更-->
        <url-pattern>/workbench/transaction/changeStage.do</url-pattern>
<!--        交易图形数据填充-->
        <url-pattern>/workbench/transaction/getCharts.do</url-pattern>
    </servlet-mapping>
</web-app>